<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>fire products</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body style="position: relative">

<div class="container" style="width: 80%; margin-top: 50px; background-color: lightgray; padding: 10px">

    <div class="header" style="text-align: center; position: relative">
        <h2 th:text="'Fire System'">fire system</h2>

        <div style="position: absolute; top: 60px; right: 0px">
            <form action="#" th:action="@{/fire/search}" method="get">
                <input type="text" th:name="name" style="width: 10cm; border-radius: 3px;">
                <button type="submit" value="Search" class="btn glyphicon-search btn-info">Search</button>
            </form>
        </div>

        <div style="margin-top: 20px; position: absolute; top:40px;left: 5px;bottom: 20px;">
            <button type="button" th:onclick="|window.location.href='@{/fire/new}'|"
                    class="btn btn-primary"
            >Add new item</button>
        </div>
</div>

    <hr  style="line-break: normal">

    <div style="position: relative; margin-top:45px; ">
        <table class="table table-responsive table-striped" style="margin-top: 15px">
            <thead class="table-header" style="background-color: deepskyblue">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Type number</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="item: ${fireList}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.tybeNumber}"></td>
                    <td th:text="${item.brands}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td>
                        <a th:href="@{'/fire/'+ ${item.id}+ '/update'}"
                           style="color: darkgreen; font-weight: bold">Update</a>
                        |
                        <a th:href="@{'/fire/'+ ${item.id}+ '/delete'}"
                           style="color: darkred; font-weight: bold;">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a href="#" th:href="@{/products/index}"
           style="font-weight: bold" class="btn btn-primary">Products Dash Board</a>
    </div>
</div>

<div style="position: absolute; left: 160px; bottom: -60px; border-bottom: deepskyblue solid 5px;">
        <label th:text="'Total Elements : ' + ${totalElements}"></label>

        <div style="display: inline-block; margin-left: 30px">
        <a th:if="${currentPage != 1}" th:href="@{'/fire/page/1'}">First Page</a>
        <span th:unless="${currentPage != 1}">First Page</span>
        </div>

        <span th:each="i : ${#numbers.sequence(1, totalPages)}" style="margin-left: 20px">
            <a th:if="${currentPage != i}" th:href="@{'/fire/page/' + ${i} }">[[${i}]]</a>
            &nbsp;
            <span th:unless="${currentPage != i}">[[${i}]]</span>
            &nbsp;
        </span>

        <div style="display: inline-block; margin-left: 30px">
            <a th:if="${currentPage != totalPages}" th:href="@{'/fire/page/' + ${totalPages} }">
                Last Page
            </a>
            <span th:unless="${currentPage != totalPages}">Last Page</span>
        </div>


</div>


</body>
</html>