<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CCTV products</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body style="width: 1400px; margin: 100px auto;">

<div  style="text-align: center; background-color: lightskyblue; padding: 10px;margin-bottom: 40px;">
    <h2 th:text="'CCTV System'">cctv system</h2>
</div>

<div  style="position: relative;width: 100%; background-color: lightgray; padding: 20px;">

    <div style="margin-top: 20px; margin-bottom: 30px; position: absolute; left: 20px;top: 0px;">
        <button type="button" th:onclick="|window.location.href='@{/cctv/new}'|"
        class="btn btn-primary"
        >Add new item</button>
    </div>

        <div style="position: absolute; top: 20px; right: 20px;">
            <form action="#" th:action="@{/cctv/search}" method="post">
            <input type="text" th:name="name" style="width: 10cm; border-radius: 3px; margin-left: 16.5cm">
            <input type="submit" value="Search" class="btn btn-info">
            </form>
        </div>

    <div>
        <table class="table table-responsive table-striped" style="margin-top: 40px">
            <thead class="table-header" style="background-color: deepskyblue">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Type number</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="item: ${cctvList}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.tybeNumber}"></td>
                    <td th:text="${item.brands}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td>
                        <a th:href="@{'/cctv/'+ ${item.id}+ '/update'}" style="color: darkgreen; font-weight: bold">Update</a>
                        |
                        <a th:href="@{'/cctv/'+ ${item.id}+ '/delete'}" style="color: darkred; font-weight: bold">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a href="#" th:href="@{/products/index}" style="font-weight: bold" class="btn btn-primary">Products Dash Board</a>
    </div>

    <div style="display: inline-block;">

        <label th:text="'Total items : ' + ${totalElements} ">total elements</label>
        &nbsp; &nbsp;

        <span>
            <a th:if="${currentPage != 1}" th:href="@{'/cctv/page/1'}">First Page</a>
            <span th:unless="${currentPage != 1}">First Page</span>
        </span>

        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:if="${currentPage != i}" th:href="@{'/cctv/page/' + ${i} }">[[${i}]]</a>
            &nbsp; &nbsp;
            <span th:unless="${currentPage != i}">[[${i}]]</span>
            &nbsp;
        </span>

        <span>
            <a th:if="${currentPage != totalPages}" th:href="@{'/cctv/page/' + ${totalPages} }">Last Page</a>
            <span th:unless="${currentPage != totalPages}">Last Page</span>
        </span>

    </div>

</div>

</body>
</html>