<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CCTV products</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body>

<div class="container" style="width: 80%; margin-top: 50px; background-color: lightgray; padding: 10px">

    <div class="header" style="text-align: center">
        <h2 th:text="'CCTV System'">cctv system</h2>
    </div>
    <hr  style="line-break: normal">

    <div style="margin-top: 20px">
        <button type="button" th:onclick="|window.location.href='@{/cctv/new}'|"
        class="btn btn-primary"
        >Add new item</button>


        <form action="#" th:action="@{/cctv/search}" method="post">

        <input type="text" th:name="name" style="width: 10cm; border-radius: 3px; margin-left: 16.5cm">

        <input type="submit" value="Search" class="btn btn-info">

        </form>

    </div>

    <div>
        <table class="table table-responsive table-striped" style="margin-top: 15px">
            <thead class="table-header" style="background-color: deepskyblue">
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Type number</th>
                    <th>Brand</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="item: ${cctvList}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.description}"></td>
                    <td th:text="${item.tybeNumber}"></td>
                    <td th:text="${item.brands}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td>
                        <a th:href="@{'/cctv/'+ ${item.id}+ '/update'}" style="color: darkgreen; font-weight: bold">Update</a>
                        |
                        <a th:href="@{'/cctv/'+ ${item.id}+ '/delete'}" style="color: darkred; font-weight: bold">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a href="#" th:href="@{/products/index}" style="font-weight: bold" class="btn btn-primary">Products Dash Board</a>
    </div>

</div>

</body>
</html>