<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body>

<div class="container" style="width: 25%; background-color: lightgray;
    margin-top: 60px; padding: 10px;border-bottom-left-radius: 10px;
    border-top-right-radius: 10px">
    <label th:text="'Login Page'">login</label>
</div>

<div style="margin-left: 600px; width: 25%; margin-top: 5px" class="container">
    <label th:if="${param.error}" style="color: darkred">invalid username or password, try again</label>
    <label th:if="${param.logout}" style="color: darkred">you have logged out</label>
</div>

<div class="container" style="width: 25%; height: 200px;
     background-color: lightskyblue; padding: 25px; border-radius: 10px">

    <form action="#" th:action="@{/authenticateTheUser}"
          method="post">

    <div>
    <label th:text="'user name'">user name</label>
    <input type="text" name="username"
      style="margin-left: 0.50cm">
    </div>

    <div style="margin-top: 25px">
        <label th:text="'user name'">password</label>
        <input type="password" name="password"
         style="margin-left: 0.5cm">
    </div>

    <div>
        <button type="submit" class="btn btn-primary"
         style="margin-left: 1.5cm; margin-top: 1cm; width: 2cm">Login</button>

        <input type="button" class="btn btn-primary"
        th:onclick="| window.location.href = '@{../}'|"
        style="margin-left: 1cm; margin-top: 1cm" value="Home Page">
    </div>

    </form>

</div>

</body>
</html>