<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>details</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script rcs="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"
    ></script>

</head>
<body style="margin: 0 auto; width: 900px;">
    <div  style="margin-top: 50px; background-color: lightgray; padding: 10px; position: relative;">

        <div class="header" style="background-color: lightgray; padding: 5px; text-align: center">
            <h2 th:text="${employee.firstName} +' ' + ${employee.lastName}"></h2>

            <div style=" position:fixed; position: absolute; right: 25px; top: 84px; ">
            <img src="../../static/images/face.png"
                 th:src="@{'/images/'+ ${employee.id} + '/empImage'}"
                 alt="personal image"
                 width="140" height="140" style="margin-left: 700px; border-radius: 50%"/>
            </div>

        </div>

        <div class="input" style="background-color: lightskyblue; padding: 10px">
            <label th:text="'Position'"></label>
            <input type="text" th:field="${employee.position}" style="margin-left: 40px">
        </div>

        <div class="input" style="background-color: lightskyblue; padding: 10px">
            <label th:text="'Email address'"></label>
            <input type="text" th:field="${employee.email}">
        </div>

        <div class="input" style="background-color: lightskyblue; padding: 10px">
            <label th:text="'Birth date'"></label>
            <input type="text" th:field="${employee.birthDate}" style="margin-left: 27px">
        </div>

            <div style="margin-top: 10px">
            <a href="#" th:href="@{/employees/list}" class="btn btn-danger" style="font-weight: bolder">Back</a>

            <a href="#" th:href="@{'/images/'+${employee.id}+'/update'}"
               class="btn btn-danger"
               style="font-weight: bolder; margin-left: 100px">Change Image</a>
            </div>

</div>

    <div  style="background-color: lightgray; margin-top: 25px; padding: 10px; position: relative; ">

    <div  style="background-color: lightskyblue;padding: 5px; text-align: center">
        <h3 th:text="'Employee Off Days'">Off Days</h3>
    </div>

        <div  style="margin-top: 10px">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Info</th>
                        <th>Days Count</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:if="${holidays != null}" th:each="day : ${holidays}">
                        <td th:if="${day != null}" th:text="${day.startDate}">10-2-2022</td>
                        <td th:if="${day != null}" th:text="${day.endDate}">15-2-2022</td>
                        <td th:if="${day != null}" th:text="${day.info}">personal</td>
                        <td th:if="${day != null}" th:text="${day.endDate.getDayOfYear() - day.startDate.getDayOfYear()}">
                        </td>
                        <td th:if="${day != null}">
                            <a href="#" th:href="@{/employees}" style="font-weight: bold">Update</a>
                            |
                            <a href="#" th:href="@{'/employee/'+ ${employee.id} + '/holiday/' + ${day.id}+ '/delete'}"
                               style="color: darkred; font-weight: bold">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr style="color: black">
            <div class="btn">
                <a href="#" th:href="@{'/employee/' + ${employee.id} + '/holiday/add'}"
                class="btn btn-primary">Add</a>
            </div>

            <div style="position: absolute; bottom: 10px; right: 260px; font-size: 20px; font-family: Consolas">
                <label th:text="'Total : ' + ${totalDays} + ' Days' ">off days count</label>
            </div>

        </div>

    </div>
</body>
</html>